@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-Bold.eot');
    src: local('Gill Sans Bold'), local('GillSans-Bold'),
        url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-Bold.woff2') format('woff2'),
        url('../fonts/GillSans-Bold.woff') format('woff'),
        url('../fonts/GillSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-LightItalic.eot');
    src: local('Gill Sans Light Italic'), local('GillSans-LightItalic'),
        url('../fonts/GillSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-LightItalic.woff2') format('woff2'),
        url('../fonts/GillSans-LightItalic.woff') format('woff'),
        url('../fonts/GillSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans.eot');
    src: local('Gill Sans'), local('GillSans'),
        url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff'),
        url('../fonts/GillSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-SemiBoldItalic.eot');
    src: local('Gill Sans SemiBold Italic'), local('GillSans-SemiBoldItalic'),
        url('../fonts/GillSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/GillSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/GillSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-SemiBold.eot');
    src: local('Gill Sans SemiBold'), local('GillSans-SemiBold'),
        url('../fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-SemiBold.woff2') format('woff2'),
        url('../fonts/GillSans-SemiBold.woff') format('woff'),
        url('../fonts/GillSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-Light.eot');
    src: local('Gill Sans Light'), local('GillSans-Light'),
        url('../fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-Light.woff2') format('woff2'),
        url('../fonts/GillSans-Light.woff') format('woff'),
        url('../fonts/GillSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-Italic.eot');
    src: local('Gill Sans Italic'), local('GillSans-Italic'),
        url('../fonts/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-Italic.woff2') format('woff2'),
        url('../fonts/GillSans-Italic.woff') format('woff'),
        url('../fonts/GillSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-BoldItalic.eot');
    src: local('Gill Sans Bold Italic'), local('GillSans-BoldItalic'),
        url('../fonts/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/GillSans-BoldItalic.woff') format('woff'),
        url('../fonts/GillSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-UltraBold.eot');
    src: local('Gill Sans UltraBold'), local('GillSans-UltraBold'),
        url('../fonts/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-UltraBold.woff2') format('woff2'),
        url('../fonts/GillSans-UltraBold.woff') format('woff'),
        url('../fonts/GillSans-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}








@font-face {
    font-family: 'IBM Selectric Manifold';
    src: url('../fonts/IBMSelectricManifold-Regular.woff2') format('woff2'),
        url('../fonts/IBMSelectricManifold-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Selectric';
    src: url('../fonts/IBMSelectricLight-Regular.woff2') format('woff2'),
        url('../fonts/IBMSelectricLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'zai Soft Italic Typewriter';
    src: url('../fonts/zaiSoftItalicTypewriter.woff2') format('woff2'),
        url('../fonts/zaiSoftItalicTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Selectric';
    src: url('../fonts/IBMSelectricLight-Italic.woff2') format('woff2'),
        url('../fonts/IBMSelectricLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
